#wpbody {
	clear: both;
	margin-right: 175px;
	margin-left: 0;
}

#adminmenu {
	float: right;
	clear: right;
	margin-left: 5px;
	margin-right: -160px;
}

#adminmenu li.wp-menu-separator (line 961)
{
cursor: e-resize;
}

.folded #adminmenu li.wp-menu-separator (line 968)
{
cursor: w-resize;
}

#adminmenu li.wp-menu-separator (line 1019)
{
background-position: right -34px;
}

.folded #adminmenu li.wp-menu-separator (line 1023)
{
background-position: left 5px;
}